digraph {{ subsystems[0].node.orig_type_name }} {
    graph [rankdir = LR];
    node[shape=Mrecord];

    {% for subsys in subsystems %}
    subgraph cluster_{{ subsys.node.inst_name }}{
        node [style=filled];
        label = "{{ subsys.node.inst_name }}";
        color=gray;
        {% for mod in subsys.getAllModules() %}
            {% if mod.__class__.__name__ == "Module" and mod.isOnlyMaster %}
                {% set style = "style=filled fillcolor=coral," %}
            {% elif mod.__class__.__name__ == "Module" and mod.isOnlySlave %}
                {% set style = "style=filled fillcolor=palegreen," %}
            {% elif mod.__class__.__name__ == "Intc" %}
                {% set style = "style=filled fillcolor=lightblue," %}
            {% elif mod.__class__.__name__ == "Subsystem" %}
                {% set style = "style=filled fillcolor=teal," %}
            {% elif mod.__class__.__name__ == "Adapter" %}
                {% set style = "style=filled fillcolor=gainsboro," %}
            {% endif %}
            {% if mod.__class__.__name__ == "Subsystem" %}
                {{ mod.node.get_path()|path_conv }}[height=0.1, width=0.1, shape=point];
            {% else %}
                {{ mod.node.get_path()|path_conv }}[height=1, {{ style }} label="{ {% if mod.getSlavePorts()|length > 0 %}{ {% if false %}{% endif %}
                {% for intf in mod.getSlavePorts() -%}
                    <{{ intf.getXdotName() }}>{{ intf.getXdotName() }}{% if not loop.last %} | {% endif %}
                {%- endfor -%}
                } | {% endif %} {{ mod.node.orig_type_name|short }}\n\n{{ mod.node.inst_name|short }} {% if mod.getMasterPorts()|length > 0 %} | {
                {%- for intf in mod.getMasterPorts() -%}
                    <{{ intf.getXdotName() }}>{{ intf.getXdotName() }}{% if not loop.last %} | {% endif %}
                {%- endfor -%} } {% endif %} } "];
            {% endif %}
        {% endfor %}

        {% for intc in subsys.intcs %}
            // Interconnect {{ intc.node.inst_name }}
            // Master ports
            {% for ext_intf, intf in zip(intc.ext_slv_ports, intc.getSlavePorts()) %}
            {{ ext_intf.module.node.get_path()|path_conv }}:{{ ext_intf.getXdotName() }} -> {{ intc.node.get_path()|path_conv }}:{{ intf.getXdotName() }}
            {% endfor %}
            // Slave ports
            {% for ext_intf, intf in zip(intc.ext_mst_ports, intc.getMasterPorts()) %}
            {{ intc.node.get_path()|path_conv }}:{{ intf.getXdotName() }} -> {{ ext_intf.module.node.get_path()|path_conv }}:{{ ext_intf.getXdotName() }}
            {% endfor %}

        {% endfor -%}

        {% for apath in subsys.adapter_paths %}
            // Adapter {{ apath.adapt_from.type.replace("_intf_node", "") }} <-> {{ apath.adapt_to.type.replace("_intf_node", "") }}
            {% set last_mst_port = apath.adapters[0].mst_port %}
            {% for adapter in apath.adapters %}
                {% if not loop.first %}
            {{ last_mst_port.module.node.get_path()|path_conv }}:{{ last_mst_port.getXdotName() }} -> {{ adapter.node.get_path()|path_conv }}:{{ adapter.slv_port.getXdotName() }};
                {% endif %}
                {% set last_mst_port = adapter.mst_port %}
            {% endfor %}
            {{ apath.adapters[-1].mst_port.module.node.get_path()|path_conv }}:{{ apath.adapters[-1].mst_port.getXdotName() }} -> {{ apath.adapt_to.module.node.get_path()|path_conv }}:{{ apath.adapt_to.getXdotName() }};
        {% endfor %}

    {% endfor %}

    {% for subsys in subsystems %}
    }
    {% endfor %}
}

